#octopus {
	display: block;
	z-index: -1;
	margin: 0 auto;
	border: 1px solid black;
}
#hat {
	position: absolute;
	top: 20px;
	left: 150px;
}
#glasses {
	position: absolute;
	top: 238px;
	left: 230px;
}
