#contact-info {
	font-size: .8em
}
.job {
	background-color: #e9e5dc;
	border-radius: 15px;
	padding-top: 1%;
	padding-bottom: 1%;
	margin: 5px;
}
.unordered {
	font-size: .8em;
}
h2::first-letter {
	font-weight: bold;
	font-size: 150%;
}
ol li {
	color: pink;
}